@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    background: black;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
}
.none{
    display: none !important;
}
#loadingScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    color: white;
    padding: 0;
    margin: 0;
    animation: title 0.7s alternate infinite;
    position: absolute;
    bottom: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.pan{
    width: 300px;
    position: relative;
    animation: vibration 0.3s alternate infinite;
    margin-left: 50px;
}

.fa-brands{
    position: absolute;
   z-index: -1;
    font-size: 15px;
    color: white;
    animation: jump .5s alternate infinite;
}

.fa-js{
    left: 46.3%;
    animation-delay: .7s;
}
.fa-php{
  
  animation-delay: .8s;
}
.fa-html5{
    left: 48.5%;
    animation-delay: .9s;
    
}
.fa-laravel{
    left: 51%;
   
}

.fa-python{
    left: 45.5%;
    animation-delay: 0.4s;
}

.fa-symfony{
    left: 47.3%;
    animation-delay: .3s;
}

.fa-java{
    left: 52%;
    animation-delay: .2s;
}


#loadedScreen{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 100%;
    animation: scale 0.5s linear ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popBox{
    width: 225px;
    height: 225px;
    margin-right: 10px;
}


@keyframes vibration {
    
    100%{
        transform: translateX(7px);
    }
}

@keyframes jump {

   
    100%{
        transform: translateY(-40px);
        
       
    }

}

@keyframes scale {
    0%{
        transform: scale(0%);
    }
    
    50%{
        transform: scale(50%);
    }

    100%{
        transform: scale(100%);
    }
}

@keyframes title {
    100%{
        color: black;
    }
    
}