@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamMedium.otf);
}
@font-face {
    font-family: GothamLight;
    src: url(../fonts/GothamLight.otf);
}
@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamBold.otf);
}

:root{
    --mainRose: #FFAAFF;
    --mainBlue: #0AEFF7;
}

body{
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
   

}
*{
    box-sizing: border-box;
}

.none{
    display: none !important;
}
#loadingScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    z-index: 5555;
}

span{
    animation: vibration 0.5s linear infinite;
}

h1{
    color: white;
    padding: 0;
    margin: 0;
    animation: title 0.8s alternate infinite;
    position: absolute;
    bottom: 40%;
    font-family: 'GothamBold', sans-serif;
}
.pan{
    width: 300px;
    position: relative;
    animation: vibration 0.3s alternate infinite;
    margin-left: 50px;
}

.fa-brands{
    position: absolute;
   z-index: -1;
    font-size: 15px;
    color: white;
    animation: jump .5s alternate infinite;
        
}

.fa-js{
    left: 46.3%;
    animation-delay: .7s;
   
}
.fa-php{
  
  animation-delay: .8s;
}
.fa-html5{
    left: 48.5%;
    animation-delay: .9s;
    
}
.fa-laravel{
    left: 51%;
   
}

.fa-python{
    left: 45.5%;
    animation-delay: 0.4s;
}

.fa-symfony{
    left: 47.3%;
    animation-delay: .3s;
}

.fa-java{
    left: 52%;
    animation-delay: .2s;
}


#loadedScreen{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fond.png);
}

.popBox{
    user-select: none;
}

.reference{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reference > h2{
    color: var(--mainBlue);
    font-size: 120px;
    margin: 0;
    font-family: 'Gotham', sans-serif;
}

.reference > p{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    font-family: 'Gotham', sans-serif;
}
#clickIci{
    z-index: 20;
}
#clickIci > a{
    font-family: "GothamLight" ,sans-serif;
    color: var(--mainRose);
    letter-spacing: 5px;
    font-size: 10px;
    cursor: pointer;
    user-select: none;
 text-decoration: none;
}

.minilogo{
    background-image: url(../img/minilogo.svg);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 20px;
}
#game{
    min-height: 100vh;
}

.score{
    position: fixed;
    color: white;
    font-family: 'Gotham';
    left:50px;
    z-index: 1;
    top: 25px;
}

.scoreNum{
    display: flex;
}

.score::before{
    position: absolute;
    content: 'SCORE';
    color: var(--mainBlue);
    left: -45px;
    border-bottom: 1px solid white;
    top: 30px;
    transform: rotate(270deg);
}

#zoom{
   width: 100vw;
   height: 100vh;
   user-select: none;
}

#equis{
    display: flex;
    align-items: center;
    justify-content: center;
}

#equis > .x{
    margin: 0px 3px;
    
}

#x-1{
    color: rgba(255, 255, 255, 0.3)
}

.rightFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    display: flex;
    margin: 20px;
    align-items: flex-end;
}
.zooming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zooming > h2{
    transform: rotate(-90deg);
    color: var(--mainBlue);
    font-size: 12px;
    text-transform: uppercase;
    user-select: none;
    font-family: 'GothamLight';
}
.zoomline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    height: 200px;
    background-color: white;
    width: 2px;
}
.langagesT{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 5px;
    margin: 0px 0px 20px 30px;
    font-family: 'GothamLight';
    font-size: 8px;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: fixed;
    color: white;
    bottom: 20px;
    left: 60px;
    border: 1px solid white;
    cursor: pointer;
    user-select: none;
}

#plus{
    user-select: none;
    cursor: pointer;
    font-size: 20px;
}
#moin{
    user-select: none;
    cursor: pointer;
    font-size: 20px;
}

.color{
    color: var(--mainBlue);
}

.langagesT > img{
    margin: 0px 10px 0px 0px;
}

.footerLinks{
    position: fixed;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    justify-content: end;
    margin:40px;
}
.footerLinks > a{
    color: white;
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    margin: 10px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.opacity{
    opacity: 0% ;
    z-index: -1 !important;
}
.input{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 100%;
    font-family: 'GothamLight';
    font-size: 60px;
    border: none;
    z-index: 1;
    text-align: center;
    color: white;
   cursor: default;
}

.input:focus{
    outline: none;

}



#modal{
    display: flex;
    position: fixed;
    height: 100%;
    width: 50%;
    align-items: flex-start;
    justify-content: start;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(5px);
    z-index: 55;
}
#closeModal{
    position: absolute;
    font-size: 40px;
    top: 10px;
    color: var(--mainRose);
    cursor: pointer;
    right: 20px;
}
#langagesTrouve{
    font-family: 'Gotham';
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
}
.allLangues{
    margin: 30px 0px;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
    
}
#langagesTrouve >p::first-letter{
    margin: 10px 0px;
    text-transform: capitalize;
    
}
.red{
    color: purple;
}

#gameOver{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(10px);
    z-index: 50;
    flex-direction: column;
}
#gameOver > h2{
    font-size: 64px;
    font-family: 'Gotham';
    color: white;
}
#gameOver > a{
    font-size: 40px;
    text-decoration: underline 1px;
    color: var(--mainRose);
    cursor: pointer;
    font-family: 'Gotham';
}

#win{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Gotham';
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(10px);
    z-index: 555;
}

#modalLangue{
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    font-family: "Gotham";
}

.modalContent{
    display: flex;
    align-items: center;
    
}

#modalTitle{
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    margin: 30px 35px;
}

#modalDesc{
    width: 50%;
    color: white;
    font-size: 14px;
    margin-left: 50px;
    line-height: 20px;
}


#closeModalLangue{
    font-size: 40px;
    
    
    cursor: pointer;
    color: var(--mainRose);
    position: absolute;
    top: 25px;
    right: 25px;
}

@keyframes vibration {
    
    100%{
        transform: translateX(7px);
    }
}

@keyframes jump {

   
    100%{
        transform: translateY(-40px);
      
    }

}

@keyframes scale {
    0%{
        transform: scale(60%);
        border-radius: 100%;
    }
}

@keyframes title {
    100% {
        color: black;
      }
}


@media screen and (max-width: 1024px) {
    section, footer, div{
    
        display: none;
    }    
}
